@use "../../styles/colors";

.modal-mutator-entries {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 60vh;
    overflow: auto;
    padding-bottom: 10px;
}

.modal-mutator-entry {
    background-color: colors.$bg-lightest;
    padding: 8px 12px;
    box-shadow: 0 3px 0 colors.$bg-darker;
    cursor: pointer;
    transition: transform 80ms, box-shadow 80ms;

    &:hover, &.focused {
        transform: translateY(-1px);
        box-shadow: 1px 4px 0 colors.$bg-dark;
    }

    &.focused {
        border-left: 2px solid colors.$accent;
        padding-left: 10px;
    }


    i {
        padding-right: 0.6em;

        &::before {
            font-weight: 800 !important;
        }
    }

    i.bi-box {
        color: #c586c0;
    }

    i.bi-braces {
        color: #cbcb41;
    }
}

.mutator-match-token {
    padding: 0 5px 1px 5px;
    border-radius: 3px;
    background-color: #884d9c;
    box-shadow: 0 2px #461d53;
    margin: 0 2px;
}