$bg-dark: hsl(206, 9%, 15%);
$bg-med: hsl(209, 13%, 20%);
$bg-light: hsl(212, 17%, 25%);
$bg-lighter: hsl(215, 21%, 30%);
$bg-lightest: hsl(215, 21%, 40%);
$text-dim: #9DA2A6;
$text: #C2C8CC;
$outline: hsl(224, 8%, 40%);
$accent-dark: hsl(224, 54%, 52%);
$accent: hsl(227, 58%, 65%);
$accent-light: hsl(230, 62%, 78%);