@use './colors';

$font: 'GT Pressura Mono', monospace;

body {
    background-color: colors.$bg-darker;
    color: colors.$text;
    margin: 0;
    // font-family: 'Roboto', sans-serif;
    font-family: $font;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

button {
    color: white;
    background-color: colors.$accent-dark;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 13px 8px 13px;
    border: none;
    font-family: $font;
    font-size: 16px;

    &:hover {
        background-color: colors.$accent;
        box-shadow: 0px 0px 6px -1px black;
    }
}

hr {
    border: none;
    height: 1px;
    background-color: colors.$outline;
}

input {
    font-family: $font;
}

.textbox {
    background-color: #40444b;
    color: #fff;
    width: 150px;
    border: none;
    font-size: 16px;
    border: 1px solid #222;
    padding: 4px 8px;
    border-radius: 2px;
    width: 100%;
    padding: 6px 14px;

    &:focus {
        border: 1px solid #007fd4;
        outline: none;
    }

    &.invalid {
        border-color: colors.$yt;
    }
}

h3 {
    text-align: center;
    margin-top: 0;
}

.mono {
    font-family: monospace;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}