@import './vars.scss';

body {
    background-color: #dadae0;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#root {
    height: 100vh;
}