$action-width: 200px;
$sequences-width: 300px;

// Grid isn't really necessary here but it's convenient
.app {
    display: grid;
    grid-template-columns: [start] $action-width [viewports] calc(100vw - $action-width - $sequences-width) [sequences] $sequences-width [end];
    grid-template-rows: [start] 1fr [player] 80px [end];
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
}

.action-bar {
    grid-column-start: start;
    grid-column-end: viewports;
    grid-row-start: start;
    grid-row-end: end;
    background-color: orange;
}

.viewports {
    grid-column-start: viewports;
    grid-column-end: sequences;
    grid-row-start: start;
    grid-row-end: player;
    overflow: auto;
}

.sequences {
    grid-column-start: sequences;
    grid-column-end: end;
    grid-row-start: start;
    grid-row-end: end;
}

.player {
    grid-column-start: viewports;
    grid-column-end: sequences;
    grid-row-start: player;
    grid-row-end: end;
    background-color: purple;
}