@use "../../styles/colors";

.prim-sequence-content {
    padding: 8px 6px;
    display: flex;
    align-items: center;

    i {
        font-size: 20px;
        padding: 0em 0.5em;
    }
}

.prim-sequence-title {
    font-size: 14px;
    max-width: 10em;
}