@use "../styles/colors";
@use "../styles/sequences.scss";

.mutator {
    background-color: colors.$bg-med;

    .mutator-title {
        text-align: center;
        padding: 10px;
        background-color: colors.$bg-light;
        border-bottom: 1px solid colors.$outline;
    }

    .mutator-parameters {
        padding: 6px;
        display: flex;
        flex-direction: column;
        box-shadow: inset 1px 1px 4px black;

        .mutator-param {
            position: relative;
            min-width: 180px;
            padding: 10px 6px;

            .mutator-reset-param {
                position: absolute;
                top: 4px;
                right: 4px;
                color: rgb(141, 39, 39);
                font-size: small;
                padding: 8px;
                
                &:hover {
                    color: rgb(173, 46, 46);
                    text-shadow: 0 1px 3px black;
                }
            }

            &:not(:first-child) {
                border-top: 1px solid colors.$outline;
            }

            .source {
                margin: auto;
            }

            .mutator-param-label {
                padding-bottom: 4px;
            }

            .mutator-item {
                min-height: 40px;
                border-radius: 4px;
                display: flex;
                align-items: center;

                &:hover {
                    box-shadow: 1px 1px 5px 1px black;
                }
            }

            .mutator-link {
                max-width: 250px;
                white-space: nowrap;
                word-break: break-all;
                text-overflow: ellipsis;
                overflow: hidden;

                color: colors.$text;
                padding: 0 16px;
                font-size: 16px;
                background-color: colors.$bg-lighter;
                border: 1px solid colors.$outline;

                i {
                    font-size: 20px;
                }
            
                .mutator-link-to {
                    margin-left: 6px;
                    text-decoration: underline;
                }
            }

            input {
                background-color: colors.$bg-dark;
                border: 1px solid colors.$outline;
                border-radius: 2px;
                width: 100%;
                padding: 4px 6px;
                color: currentColor;
                font-size: 16px;
                font-family: monospace;

                &:focus, &:active {
                    border-color: colors.$accent;
                    outline: none;
                }
            }
        }
    }
}