@use "../../styles/colors";

$amplitude: 3px;

@keyframes upset {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-$amplitude);
    }

    40% {
        transform: translateX($amplitude);
    }

    60% {
        transform: translateX(-$amplitude);
    }

    80% {
        transform: translateX($amplitude);
    }

    100% {
        transform: translateX(0);
    }
}

.video-input-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;

    .video-input.invalid {
        animation: upset 400ms;
        border-color: rgb(248, 128, 112) !important;
    }

    i {
        font-size: 24px;
        transition: color 100ms;

        &.valid {
            color: rgb(79, 184, 116);
        }

        &.invalid {
            color: rgb(248, 128, 112);
        }

        &.unset {
            color: colors.$accent;
        }
    }
}